{% extends '@nucleus/partials/particle.html.twig' %}

{% set containerblock_start %}
	<div id="{{ id }}" class="gp_justicons {{ particle.class }}">
{% endset %}

{% set containerblock_end %}
	</div>
{% endset %}

{% set gp_contents %}
	{% for item in particle.gp_items %}
        <i class="{{ item.icon|e }}" style="color:{{ item.color|e }};"></i>
	{% endfor %}
{% endset %}

{% block stylesheets %}
    <style type="text/css">      
        #{{ id }} .gp_icons i:not(:last-child) {
            margin-right: {{ particle.margin|default('16') }}px;
        }
        #{{ id }} .gp_icons i {
            font-size: {{ particle.fontSize|default('24') }}px;
        }
    </style>
{% endblock %}

{% block particle %}
	{{ containerblock_start }}
        {% if particle.gp_items %}
            {% if particle.headline %}
                <h3>{{ particle.headline|raw }}</h3>
            {% endif %}
            <div class="gp_icons">
                {{ gp_contents }}
            </div>
        {% endif %}
	{{ containerblock_end }}
{% endblock %}