{% extends '@nucleus/partials/particle.html.twig' %}

{% block particle %}
	<div id="{{ id }}" class="gp_partners gp_title_{{ particle.titlePos|e }}{% if particle.class %} {{ particle.class|e }}{% endif %}">
		{% if particle.titlePos == 'left' %}
			<div class="g-grid">
				{% if particle.title %}
					<div class="g-block size-33">
						<h3>{{ particle.title|raw|nl2br }}</h3>
					</div>
				{% endif %}
				{% for item in particle.gp_items %}
					<div class="g-block">
						{% if item.link %}
							<a href="{{ item.link|e }}" target="{{ item.target|e }}">
								<img src="{{ url(item.img)|e }}" alt="{{ item.imgAlt|e }}" style="max-height:{{ particle.imgHeight|e }}px;">
							</a>
						{% else %}
							<img src="{{ url(item.img)|e }}" alt="{{ item.imgAlt|e }}" style="max-height:{{ particle.imgHeight|e }}px;">
						{% endif %}
					</div>
				{% endfor %}
			</div>
		{% else %}
			{% if particle.title %}
				<div class="gp_title">
					<h3>{{ particle.title|raw|nl2br }}</h3>
				</div>
			{% endif %}
			<div class="gp_images">
				{% for item in particle.gp_items %}
					{% if item.link %}
						<a href="{{ item.link|e }}" target="{{ item.target|e }}">
							<img src="{{ url(item.img)|e }}" alt="{{ item.imgAlt|e }}" style="max-height:{{ particle.imgHeight|e }}px;">
						</a>
					{% else %}
						<img src="{{ url(item.img)|e }}" alt="{{ item.imgAlt|e }}" style="max-height:{{ particle.imgHeight|e }}px;">
					{% endif %}
				{% endfor %}
			</div>
		{% endif %}
	</div>
{% endblock %}