{% extends '@nucleus/partials/particle.html.twig' %}

{% set containerblock_start %}
	<div id="{{ id }}" class="gp_banner3 {{ particle.class }}">
{% endset %}

{% set containerblock_end %}
	</div>
{% endset %}

{% set gp_icon1 %}
	<svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0V0z"/><path fill="#ffffff" d="M20 12l-1.41-1.41L13 16.17V4h-2v12.17l-5.58-5.59L4 12l8 8 8-8z"/></svg>
{% endset %}
{% set gp_icon2 %}
	<svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0V0z"/><path fill="#ffffff" d="M12 4c4.41 0 8 3.59 8 8s-3.59 8-8 8-8-3.59-8-8 3.59-8 8-8m0-2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 13l-4-4h8z"/></svg>
{% endset %}
{% set gp_icon3 %}
	<svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0V0z"/><path fill="#ffffff" d="M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6 1.41-1.41z"/></svg>
{% endset %}

{% set gp_contents %}
	<div class="gp_bgimg" style="background-image: url({{ url(particle.img)|e }});{% if particle.heightType == 'custom' %}height: {{ particle.customHeight|default('600') }}px;{% endif %}">
		{% if particle.mask %}
			<div class="gp_mask" style="opacity:{{ particle.mask|e }};"></div>
		{% endif %}
		<div class="gp_content">
			<div class="gp_inner">
				{% if particle.subtitle %}
					<h1>{{ particle.subtitle|raw|nl2br }}</h1>
				{% endif %}
				{% if particle.title %}
					<h2>{{ particle.title|raw|nl2br }}</h2>
				{% endif %}
				{% if particle.idAtt %}
					<div class="gp_icon">
						<a href="{{ particle.idAtt|e }}" class="gp_scrolldown">
							{% if particle.icon == 'icon1' %}
								{{ gp_icon1 }}
							{% elseif particle.icon == 'icon2' %}
								{{ gp_icon2 }}
							{% elseif particle.icon == 'icon3' %}
								{{ gp_icon3 }}
							{% endif %}
						</a>
					</div>
				{% endif %}
			</div>
		</div>
	</div>
{% endset %}

{% set gpscript %}
	jQuery(document).ready(function($) {
		{% if particle.heightType == 'window' %}
			function gpBanner3setHeight() {
                gpBanner3windowHeight = $(window).innerHeight();
                $('#{{ id }} .gp_bgimg').css('height', gpBanner3windowHeight);
            };
            gpBanner3setHeight();
  
            $(window).resize(function() {
                gpBanner3setHeight();
            });
		{% endif %}

		{% if particle.idAtt %}
			$(function() {
				$('#{{ id }} a.gp_scrolldown[href*=#]:not([href=#])').click(function() {
					if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
						var gpBanner3target = $(this.hash);
						gpBanner3target = gpBanner3target.length ? gpBanner3target : $('[name=' + this.hash.slice(1) +']');
						if (gpBanner3target.length) {
							$('html,body').animate({
								scrollTop: gpBanner3target.offset().top
							}, 1000);
						return false;
						}
					}
				});
			});
		{% endif %}
	});
{% endset %}

{% block particle %}
	{{ containerblock_start }}
		{{ gp_contents }}
	{{ containerblock_end }}
{% endblock %}

{% if particle.heightType == 'window' or particle.idAtt %}
	{% do gantry.load('jquery') %}
	{% do gantry.document.addInlineScript(gpscript, 0, 'footer') %}
{% endif %}