{% extends '@nucleus/partials/particle.html.twig' %}

{% set containerblock_start %}
	<div id="{{ id }}" class="gp_countdown {{ particle.class }}">
{% endset %}

{% set containerblock_end %}
	</div>
{% endset %}

{% set gp_heading %}
	{% if particle.heading_title or particle.heading_desc %}
		<div class="gp_heading" style="text-align:{{ particle.heading_text_align|e }};">
			{% if particle.heading_title %}
				<{{ particle.heading_title_tag|e }} style="margin-top:0;">{{ particle.heading_title|raw }}</{{ particle.heading_title_tag|e }}>
			{% endif %}
			{% if particle.heading_desc %}
				<div>{{ particle.heading_desc|raw|nl2br }}</div>
			{% endif %}
		</div>
	{% endif %}
{% endset %}

{% set gp_footer %}
	{% if particle.footer_desc %}
		<div class="gp_footer" style="text-align:{{ particle.footer_text_align|e }};">
			{{ particle.footer_desc|raw|nl2br }}
		</div>
	{% endif %}
{% endset %}

{% set gp_contents %}
	{% if particle.dateToCount %}
		<ul class="gp_countdown_block gp_label_{{ particle.labelPos|e }}" style="text-align:{{ particle.count_text_align|e }};">
			{% if particle.showDays %}
				<li class="gp_daysblock gp_count">
					<span class="gp_days gp_number"></span>
					{% if particle.daysTxt %}
						<span class="gp_label">{{ particle.daysTxt|e }}</span>
					{% endif %}
				</li>
			{% endif %}
			{% if particle.showHours %}
				<li class="gp_hoursblock gp_count">
					<span class="gp_hours gp_number"></span>
					{% if particle.hoursTxt %}
						<span class="gp_label">{{ particle.hoursTxt|e }}</span>
					{% endif %}
				</li>
			{% endif %}
			{% if particle.showMin %}
				<li class="gp_minsblock gp_count">
					<span class="gp_minutes gp_number"></span>
					{% if particle.minTxt %}
						<span class="gp_label">{{ particle.minTxt|e }}</span>
					{% endif %}
				</li>
			{% endif %}
			{% if particle.showSec %}
				<li class="gp_secsblock gp_count">
					<span class="gp_seconds gp_number"></span>
					{% if particle.secTxt %}
						<span class="gp_label">{{ particle.secTxt|e }}</span>
					{% endif %}
				</li>
			{% endif %}
			{% if particle.endTxt %}
				<li class="gp_end_msg">{{ particle.endTxt|raw|nl2br }}</li>
			{% endif %}
		</ul>
	{% endif %}
{% endset %}   

{% block stylesheets %}
    <style type="text/css">
        #{{ id }} .gp_number {
            font-size: {{ particle.numberFont|e }}px;
        }
        #{{ id }} .gp_label {
            font-size: {{ particle.labelFont|e }}px;
        }
    </style>
{% endblock %}

{% set gpscript %}
	jQuery(document).ready(function($) {
		$('#{{ id }} ul.gp_countdown_block').gpCountdown({
			date: '{{ particle.dateToCount|date("j F Y H:i:s") }}',
			format: 'on'
		},
		function() {
			$('#{{ id }} ul.gp_countdown_block li.gp_count').hide();
			$('#{{ id }} ul.gp_countdown_block li.gp_end_msg').show();
		});
    });
{% endset %}

{% block particle %}
	{{ containerblock_start }}
		{{ gp_heading }}
		{{ gp_contents }}
		{{ gp_footer }}
	{{ containerblock_end }}
{% endblock %}

{% do gantry.load('jquery') %}
{% do gantry.document.addScript(url('gantry-theme://js/gp_countdown.min.js'), 0, 'footer') %}
{% do gantry.document.addInlineScript(gpscript, 0, 'footer') %}