{% extends '@nucleus/partials/particle.html.twig' %}

{% set containerblock_start %}
	<div id="{{ id }}" class="gp_iconblock5 {{ particle.class }}">
		{% if particle.heading_title or particle.heading_desc %}
			<div class="gp_heading">
				{% if particle.heading_title %}
					<{{ particle.heading_title_tag|e }} style="margin-top:0;">{{ particle.heading_title|raw }}</{{ particle.heading_title_tag|e }}>
				{% endif %}
				{% if particle.heading_desc %}
					<div>{{ particle.heading_desc|raw|nl2br }}</div>
				{% endif %}
			</div>
		{% endif %}
{% endset %}

{% set containerblock_end %}
	</div>
{% endset %}

{% set gp_contents %}
	{% for item in particle.gp_items %}
		<div class="g-block size-{{ particle.columns }} {{ item.class }} {{ item.variations }}">
			{% if item.link_url %}<a href="{{ item.link_url|e }}">{% endif %}
				<div class="gp_content">
					{% if item.icon %}
					  <i class="{{ item.icon }} gp_icon" style="color: {{ item.icon_color|e }};"></i>
					{% endif %}
					{% if item.title %}
						<div>{{ item.title|raw }}</div>
					{% endif %}
				</div>
			{% if item.link_url %}</a>{% endif %}
		</div>
	{% endfor %}
{% endset %}

{% block stylesheets %}
	<style type="text/css">
		{% if particle.mobile_padding %}
			@media only all and (max-width: 767px) {
				#{{ id }} {
					padding: {{ particle.mobile_padding|e }} !important;
				}
			}
		{% endif %}
		#{{ id }} {
			{% if particle.padding %}
				padding: {{ particle.padding|e }};
			{% endif %}
			{% if particle.font_size %}
				font-size: {{ particle.font_size|e }};
			{% endif %}
		}
		#{{ id }} .gp_heading {
			text-align: {{ particle.heading_text_align|e }};
		}
		{% if particle.text_color %}
			#{{ id }} h4 {
				color: {{ particle.text_color|e }};
			}
			#{{ id }} .g-block > a {
				color: {{ particle.text_color|e }};
			}
		{% endif %}
		#{{ id }} .gp_content {
			background: {{ particle.block_bg|e }};
		}
	</style>
{% endblock %}

{% block particle %}
	{{ containerblock_start }}
		<div class="g-grid">
			{% if particle.gp_items %}
				{{ gp_contents }}
			{% endif %}
		</div>
	{{ containerblock_end }}
{% endblock %}