{% extends '@nucleus/partials/particle.html.twig' %}

{% set containerblock_start %}
	<div id="{{ id }}" class="gp_imagegallery2 {{ particle.class }}">
{% endset %}

{% set containerblock_end %}
	</div>
{% endset %}

{% set gp_heading %}
	{% if particle.heading_title or particle.heading_desc %}
		<div class="gp_heading">
			{% if particle.heading_title %}
				<{{ particle.heading_title_tag|e }} style="margin-top:0;">{{ particle.heading_title|raw }}</{{ particle.heading_title_tag|e }}>
			{% endif %}
			{% if particle.heading_desc %}
				<div>{{ particle.heading_desc|raw|nl2br }}</div>
			{% endif %}
		</div>
	{% endif %}
{% endset %}

{% set gp_contents %}
	{% for item in particle.gp_items %}
		<div class="gp_block">
			<div class="gp_img_block{% if particle.thumb_title %} has_title{% endif %}">
				<a href="{{ url(item.img_full)|e }}" data-lc-options='{"maxWidth":1900, "maxHeight":1400}' data-rel="lightcase{% if particle.gallery %}:{{ id }}{% endif %}">
					<div class="gp_img">
						<img src="{{ url(item.img_thumb)|e }}" alt="{{ item.img_title|e }}">
						<i class="fa fa-search gp_img_icon"></i>
					</div>
					{% if particle.thumb_title and item.img_title %}
						<div class="gp_img_title">{{ item.img_title|raw }}</div>
					{% endif %}
				</a>
			</div>
		</div>
	{% endfor %}
{% endset %}

{% block stylesheets %}
	<style type="text/css">
		#{{ id }} .gp_heading {
			text-align: {{ particle.heading_text_align|e }};
		}
		@media screen and (min-width: 768px) and (max-width: 960px) {
			#{{ id }} #gp_grid[data-columns]::before {
				content: '{{ particle.desktop_columns|e }} .column.size-1of{{ particle.desktop_columns|e }}';
			}
		}
		@media screen and (min-width: 961px) {
			#{{ id }} #gp_grid[data-columns]::before {
				content: '{{ particle.columns|e }} .column.size-1of{{ particle.columns|e }}';
			}
		}
	</style>
{% endblock %}

{% block particle %}
	{{ containerblock_start }}
		{% if particle.gp_items %}
			{{ gp_heading }}
			<div class="gp_items{% if particle.img_margin %} has_margin{% endif %}">
				<div id="gp_grid" data-columns>
					{{ gp_contents }}
				</div>    
			</div>
		{% endif %}
	{{ containerblock_end }}
{% endblock %}

{% do gantry.load('jquery') %}
{% do gantry.load('lightcase.init') %}
{% do gantry.document.addScript(url('gantry-theme://js/gp_imagegallery2.min.js'), 0, 'footer') %}