{% extends '@nucleus/partials/particle.html.twig' %}

{% set containerblock_start %}
	<div id="{{ id }}" class="gp_imageblock3 {{ particle.class }}">
{% endset %}

{% set containerblock_end %}
	</div>
{% endset %}

{% set gp_heading %}
	{% if particle.heading_title or particle.heading_desc %}
		<div class="gp_heading">
			{% if particle.heading_title %}
				<{{ particle.heading_title_tag|e }} style="margin-top:0;">{{ particle.heading_title|raw }}</{{ particle.heading_title_tag|e }}>
			{% endif %}
			{% if particle.heading_desc %}
				<div>{{ particle.heading_desc|raw|nl2br }}</div>
			{% endif %}
		</div>
	{% endif %}
{% endset %}

{% set gp_contents %}
	{% for item in particle.gp_items %}
		<div class="g-block size-{{ particle.columns }} {{ item.class }} {{ item.variations }}">
			<div class="gp_content" style="background-image: url({{ url(item.img)|e }});">
				<div class="gp_mask"></div>
				{% if item.title or item.description %}
					<div class="gp_text">
						{% if item.title %}
							<h4>{{ item.title|raw }}</h4>
						{% endif %}
						{% if item.description %}
							<div>{{ item.description|raw }}</div>
						{% endif %}
						{% if item.link_url %}
							<div class="gp_link"><a href="{{ item.link_url|e }}" class="{{ item.link_class|e }}">{{ item.link_text|raw }}</a></div>
						{% endif %}
					</div>
				{% endif %}
			</div>
		</div>
	{% endfor %}
{% endset %}

{% block stylesheets %}
	<style type="text/css">      
		#{{ id }} {
			{% if particle.text_color %}
				color: {{ particle.text_color|e }};
			{% endif %}
			{% if particle.font_size %}
				font-size: {{ particle.font_size|e }};
			{% endif %}
			text-align: {{ particle.text_align|e }};
		}
		{% if particle.text_color %}
			#{{ id }} .gp_heading h1, #{{ id }} .gp_heading h2, #{{ id }} .gp_heading h3, #{{ id }} .gp_heading h4 {
				color: {{ particle.text_color|e }};
			}
		{% endif %}
		#{{ id }} .gp_heading {
			text-align: {{ particle.heading_text_align|e }};
		}
		#{{ id }} .gp_content {
			{% if particle.block_text %}
				color: {{ particle.block_text|e }};
			{% endif %}
			{% if particle.block_border_radius %}
				border-radius: {{ particle.block_border_radius|e }};
			{% endif %}
		}
		{% if particle.block_text %}
			#{{ id }} .gp_content a {
				color: {{ particle.block_text|e }};
				text-decoration: underline;
			}
		{% endif %}
		{% if particle.mask_bg %}
			#{{ id }} .gp_mask {
				background: {{ particle.mask_bg|default('#000000') }};
				opacity: {{ particle.mask_opacity|e }};
				{% if particle.block_border_radius %}
					border-radius: {{ particle.block_border_radius|e }};
				{% endif %}
			}
		{% endif %}
		{% if particle.block_text %}
			#{{ id }} .gp_text > h4 {
				color: {{ particle.block_text|e }};
			}
		{% endif %}
	</style>
{% endblock %}

{% block particle %}
	{{ containerblock_start }}
		{{ gp_heading }}
		<div class="g-grid">
			{% if particle.gp_items %}
				{{ gp_contents }}
			{% endif %}
		</div>
	{{ containerblock_end }}
{% endblock %}