{% extends '@nucleus/partials/particle.html.twig' %}

{% set containerblock_start %}
	<div id="{{ id }}" class="gp_notice{% if particle.icon %} hasicon{% endif %} {{ particle.class }}">
{% endset %}

{% set containerblock_end %}
	</div>
{% endset %}

{% set gp_content %}
    {% if particle.dismissable %}
        <span class="gp_close"><i class="fa fa-close"></i></span>
    {% endif %}
    {% if particle.icon %}
        <div class="gp_icon">
            <i class="{{ particle.icon|e }}{% if particle.spin %} fa-spin{% endif %}"></i>
        </div>
    {% endif %}
    <div class="gp_content">
        {% if particle.title %}<div class="gp_header">{{ particle.title|raw }}</div>{% endif %}
        {% if particle.desc %}<p>{{ particle.desc|raw|nl2br }}</p>{% endif %}
        {% if particle.list1 %}
            <ul class="gp_list">
                {% if particle.list1 %}<li>{{ particle.list1|e }}</li>{% endif %}
                {% if particle.list2 %}<li>{{ particle.list2|e }}</li>{% endif %}
                {% if particle.list3 %}<li>{{ particle.list3|e }}</li>{% endif %}
                {% if particle.list4 %}<li>{{ particle.list4|e }}</li>{% endif %}
                {% if particle.list5 %}<li>{{ particle.list5|e }}</li>{% endif %}
                {% if particle.list6 %}<li>{{ particle.list6|e }}</li>{% endif %}
                {% if particle.list7 %}<li>{{ particle.list7|e }}</li>{% endif %}
                {% if particle.list8 %}<li>{{ particle.list8|e }}</li>{% endif %}
            </ul>
        {% endif %}
    </div>
{% endset %}

{% block stylesheets %}
    <style type="text/css">
        #{{ id }}.gp_notice {
            background-color: {{ particle.bg|default('#f8f8f9') }};
            color: {{ particle.txt|default('#262626') }};
            border: 1px solid {{ particle.border|default('#c8c9ca') }};
        }
    </style>
{% endblock %}

{% set gpscript %}
    jQuery(document).ready(function($) {
        $('#{{ id }} .gp_close').on('click', function() {
            $(this).closest('.gp_notice').hide();
        });
    });
{% endset %}

{% block particle %}
	{{ containerblock_start }}
        {{ gp_content }}
	{{ containerblock_end }}
{% endblock %}

{% if particle.dismissable %}
    {% do gantry.load('jquery') %}
    {% do gantry.document.addInlineScript(gpscript, 0, 'footer') %}
{% endif %}
