{% extends '@nucleus/partials/particle.html.twig' %}

{% set containerblock_start %}
	<div id="{{ id }}" class="gp_offer_countdown {{ particle.class }}">
{% endset %}

{% set containerblock_end %}
	</div>
{% endset %}

{% set gp_contents %}
	<div class="gp_offer_countdown_block" style="background:{{ particle.bgColor|e }};color:{{ particle.txtColor|e }};font-size:{{ particle.fontSize|e }}px;text-align:{{ particle.txtAlign|e }};padding:13px 20px;">
		<div class="gp_inner">
			{% if particle.txtBefore %}<span class="gp_txt_before">{{ particle.txtBefore|raw }}</span> {% endif %}
			{% if particle.dateToCount %}
				<span class="gp_count" style="font-weight:bold;">
					{% if particle.showDays %}
						<span class="gp_days"></span>
						{% if particle.daysTxt %}
							<span class="gp_label">{{ particle.daysTxt|e }}</span>
						{% endif %}
					{% endif %}
					{% if particle.showHours %}
						<span class="gp_hours"></span>
						{% if particle.hoursTxt %}
							<span class="gp_label">{{ particle.hoursTxt|e }}</span>
						{% endif %}
					{% endif %}
					{% if particle.showMin %}
						<span class="gp_minutes"></span>
						{% if particle.minTxt %}
							<span class="gp_label">{{ particle.minTxt|e }}</span>
						{% endif %}
					{% endif %}
					{% if particle.showSec %}
						<span class="gp_seconds"></span>
						{% if particle.secTxt %}
							<span class="gp_label">{{ particle.secTxt|e }}</span>
						{% endif %}
					{% endif %}	

				</span>
			{% endif %}
			{% if particle.txtAfter %} <span class="gp_txt_after">{{ particle.txtAfter|raw }}</span>{% endif %}
		</div>
		{% if particle.endTxt %}
			<div class="gp_end_msg" style="display:none;">{{ particle.endTxt|raw|nl2br }}</div>
		{% endif %}
	</div>
{% endset %}   

{% set gpscript %}
	jQuery(document).ready(function($) {
		$('#{{ id }} .gp_count').gpCountdown({
			date: '{{ particle.dateToCount|date("j F Y H:i:s") }}',
			format: 'on'
		},
		function() {
			$('#{{ id }} .gp_inner').hide();
			$('#{{ id }} .gp_end_msg').show();
		});
    });
{% endset %}

{% block particle %}
	{{ containerblock_start }}
		{{ gp_contents }}
	{{ containerblock_end }}
{% endblock %}

{% do gantry.load('jquery') %}
{% do gantry.document.addScript(url('gantry-theme://js/gp_countdown.min.js'), 0, 'footer') %}
{% do gantry.document.addInlineScript(gpscript, 0, 'footer') %}