{% extends '@nucleus/partials/particle.html.twig' %}

{% set containerblock_start %}
	<div id="{{ id }}" class="gp_process_steps2 {{ particle.class }}">
{% endset %}

{% set containerblock_end %}
	</div>
{% endset %}

{% set gp_heading %}
    {% if particle.heading_title or particle.heading_desc %}
        <div class="gp_heading" style="text-align:{{ particle.heading_text_align|e }};">
            {% if particle.heading_title %}
                <{{ particle.heading_title_tag|e }} style="margin-top:0;">{{ particle.heading_title|raw }}</{{ particle.heading_title_tag|e }}>
            {% endif %}
            {% if particle.heading_desc %}
                <div>{{ particle.heading_desc|raw|nl2br }}</div>
            {% endif %}
        </div>
    {% endif %}
{% endset %}

{% set gp_steps %}
    <div class="gp_steps">
        {% for step in particle.gp_items %}
            <div class="gp_step{% if loop.first %} gp_active gp_complete{% endif %}" data-gpstep="gp_step_{{ loop.index }}">{{ step.title|e }}</div>
        {% endfor %}
    </div>
{% endset %}

{% set gp_contents %}
    {% for item in particle.gp_items %}
        <div class="gp_step_accordion{% if loop.first %} gp_active gp_complete{% endif %}" data-gpstep="gp_step_{{ loop.index }}">
            <span>{{ item.title|e }}</span>
            <span class="gp_step_arrow"></span>
        </div>

        <div id="gp_step_{{ loop.index }}" class="gp_step_content{% if loop.first %} gp_active{% endif %}">
            <div class="gp_desc">
                {{ item.desc|raw|nl2br }}
                {% if item.link %}
                    <a href="{{ item.link|e }}" class="gp_link">{{ item.link_text|raw }}</a>
                {% endif %}
            </div>
        </div>
    {% endfor %}
{% endset %}

{% set gpscript %}
    jQuery(document).ready(function($) {
        /* Tab mode */
        $("#{{ id }} .gp_step").click(function() {
            $("#{{ id }} .gp_step_content").hide();
            $("#{{ id }} .gp_step_content").removeClass("gp_active");

            var stepId = $(this).attr("data-gpstep");
            $("#{{ id }} #"+stepId).show();

            $("#{{ id }} .gp_step").removeClass("gp_active");
            $(this).addClass("gp_active");
            $(this).addClass("gp_complete");

            $("#{{ id }} .gp_step_accordion").removeClass("gp_active");
            $("#{{ id }} .gp_step_accordion[data-gpstep^='"+stepId+"']").addClass("gp_active");
        });

        /* Accordion mode */
        $("#{{ id }} .gp_step_accordion").click(function() {
            var $this = $(this);
            
            if ($this.hasClass('gp_active')) {
                $this.removeClass('gp_active');
                $this.next().slideUp(350);
            } else {
                $("#{{ id }} .gp_step_content").slideUp(350);
                var stepAcrId = $(this).attr("data-gpstep");
                $("#{{ id }} #"+stepAcrId).slideToggle(350);

                $("#{{ id }} .gp_step_accordion").removeClass("gp_active");
                $(this).addClass("gp_active");
                $(this).addClass("gp_complete");

                $("#{{ id }} .gp_step").removeClass("gp_active");
                $("#{{ id }} .gp_step[data-gpstep^='"+stepAcrId+"']").addClass("gp_active");
            }
        });
    });
{% endset %}

{% block particle %}
	{{ containerblock_start }}
        {{ gp_heading }}
        {{ gp_steps }}
        <div class="gp_contents">
            {{ gp_contents }}
        </div>
	{{ containerblock_end }}
{% endblock %}

{% do gantry.load('jquery') %}
{% do gantry.document.addInlineScript(gpscript, 0, 'footer') %}