{% extends '@nucleus/partials/particle.html.twig' %}

{% set containerblock_start %}
	<div id="{{ id }}" class="gp_pricing_table1 {{ particle.class }}">
{% endset %}

{% set containerblock_end %}
	</div>
{% endset %}

{% set gp_heading %}
    {% if particle.heading_title or particle.heading_desc %}
        <div class="gp_heading" style="text-align:{{ particle.heading_text_align|e }};">
            {% if particle.heading_title %}
                <{{ particle.heading_title_tag|e }} style="margin-top:0;">{{ particle.heading_title|raw }}</{{ particle.heading_title_tag|e }}>
            {% endif %}
            {% if particle.heading_desc %}
                <div>{{ particle.heading_desc|raw|nl2br }}</div>
            {% endif %}
        </div>
    {% endif %}
{% endset %}

{% set gp_contents %}
    <div class="g-grid">
        {% if particle.t1_title %}
        <div class="g-block">
            <div class="gp_item gp_table1">
                {% if particle.t1_title %}
                    <h4>{{ particle.t1_title|raw }}</h4>
                {% endif %}
                {% if particle.t1_price %}
                    <div class="gp_price">{{ particle.t1_price|raw }}</div>
                {% endif %}
                {% if particle.t1_features %}
                    <div class="gp_features">
                        <ul>
                            {% for feature1 in particle.t1_features|trim|split('\n') %}
                                <li>{{ feature1 }}</li>
                             {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                {% if particle.t1_link %}
                    <a href="{{ particle.t1_link|e }}" class="gp_btn">{{ particle.t1_link_text|raw }}</a>
                {% endif %}
            </div>
        </div>
        {% endif %}
        {% if particle.t2_title %}
        <div class="g-block">
            <div class="gp_item gp_table2">
                {% if particle.t2_title %}
                    <h4>{{ particle.t2_title|raw }}</h4>
                {% endif %}
                {% if particle.t2_price %}
                    <div class="gp_price">{{ particle.t2_price|raw }}</div>
                {% endif %}
                {% if particle.t2_features %}
                    <div class="gp_features">
                        <ul>
                            {% for feature2 in particle.t2_features|trim|split('\n') %}
                                <li>{{ feature2 }}</li>
                             {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                {% if particle.t2_link %}
                    <a href="{{ particle.t2_link|e }}" class="gp_btn">{{ particle.t2_link_text|raw }}</a>
                {% endif %}
            </div>
        </div>
        {% endif %}
        {% if particle.t3_title %}
        <div class="g-block">
            <div class="gp_item gp_table3">
                {% if particle.t3_title %}
                    <h4>{{ particle.t3_title|raw }}</h4>
                {% endif %}
                {% if particle.t3_price %}
                    <div class="gp_price">{{ particle.t3_price|raw }}</div>
                {% endif %}
                {% if particle.t3_features %}
                    <div class="gp_features">
                        <ul>
                            {% for feature3 in particle.t3_features|trim|split('\n') %}
                                <li>{{ feature3 }}</li>
                             {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                {% if particle.t3_link %}
                    <a href="{{ particle.t3_link|e }}" class="gp_btn">{{ particle.t3_link_text|raw }}</a>
                {% endif %}
            </div>
        </div>
        {% endif %}
    </div>
{% endset %}

{% set gp_note %}
    {% if particle.note_title or particle.note_text %}
        <p class="gp_note">{% if particle.note_title %}<strong>{{ particle.note_title|raw }} </strong>{% endif %}{% if particle.note_text %}{{ particle.note_text|raw|nl2br }}{% endif %}</p>
    {% endif %}
{% endset %}

{% block stylesheets %}
    <style type="text/css">      
        #{{ id }} .gp_table1 {
            {% if particle.t1_bg %}
                background-color: {{ particle.t1_bg|e }};
            {% endif %}
            {% if particle.t1_text %}
                color: {{ particle.t1_text|e }};
            {% endif %}
            {% if particle.t1_border %}
                border: 3px solid {{ particle.t1_border|e }};
            {% endif %}
        }
        {% if particle.t1_text %}
            #{{ id }} .gp_table1 h4 {
                color: {{ particle.t1_text|e }};
            }
        {% endif %}
        #{{ id }} .gp_table1 .gp_btn {
            {% if particle.t1_btn %}
                background-color: {{ particle.t1_btn|e }};
            {% endif %}
            {% if particle.t1_btn_text %}
                color: {{ particle.t1_btn_text|e }};
            {% endif %}
        }
        #{{ id }} .gp_table1 .gp_btn:hover {
            {% if particle.t1_btn_hover %}
                background-color: {{ particle.t1_btn_hover|e }};
            {% endif %}
            {% if particle.t1_btn_text_hover %}
                color: {{ particle.t1_btn_text_hover|e }};
            {% endif %}
        }
        #{{ id }} .gp_table2 {
            {% if particle.t2_bg %}
                background-color: {{ particle.t2_bg|e }};
            {% endif %}
            {% if particle.t2_text %}
                color: {{ particle.t2_text|e }};
            {% endif %}
            {% if particle.t2_border %}
                border: 3px solid {{ particle.t2_border|e }};
            {% endif %}
        }
        {% if particle.t2_text %}
            #{{ id }} .gp_table2 h4 {
                color: {{ particle.t2_text|e }};
            }
        {% endif %}
        #{{ id }} .gp_table2 .gp_btn {
            {% if particle.t2_btn %}
                background-color: {{ particle.t2_btn|e }};
            {% endif %}
            {% if particle.t2_btn_text %}
                color: {{ particle.t2_btn_text|e }};
            {% endif %}
        }
        #{{ id }} .gp_table2 .gp_btn:hover {
            {% if particle.t2_btn_hover %}
                background-color: {{ particle.t2_btn_hover|e }};
            {% endif %}
            {% if particle.t2_btn_text_hover %}
                color: {{ particle.t2_btn_text_hover|e }};
            {% endif %}
        }
        #{{ id }} .gp_table3 {
            {% if particle.t3_bg %}
                background-color: {{ particle.t3_bg|e }};
            {% endif %}
            {% if particle.t3_text %}
                color: {{ particle.t3_text|e }};
            {% endif %}
            {% if particle.t3_border %}
                border: 3px solid {{ particle.t3_border|e }};
            {% endif %}
        }
        {% if particle.t3_text %}
            #{{ id }} .gp_table3 h4 {
                color: {{ particle.t3_text|e }};
            }
        {% endif %}
        #{{ id }} .gp_table3 .gp_btn {
            {% if particle.t3_btn %}
                background-color: {{ particle.t3_btn|e }};
            {% endif %}
            {% if particle.t3_btn_text %}
                color: {{ particle.t3_btn_text|e }};
            {% endif %}
        }
        #{{ id }} .gp_table3 .gp_btn:hover {
            {% if particle.t3_btn_hover %}
                background-color: {{ particle.t3_btn_hover|e }};
            {% endif %}
            {% if particle.t3_btn_text_hover %}
                color: {{ particle.t3_btn_text_hover|e }};
            {% endif %}
        }
    </style>
{% endblock %}

{% block particle %}
	{{ containerblock_start }}
        <div class="gp_items{% if not particle.t3_title %} gp_tablecount2{% endif %}">
            {{ gp_heading }}
            {{ gp_contents }} 
            {{ gp_note }}
        </div>
	{{ containerblock_end }}
{% endblock %}