{% extends '@nucleus/partials/particle.html.twig' %}

{% set containerblock_start %}
	<div id="{{ id }}" class="gp_team2 {{ particle.class }}">
{% endset %}

{% set containerblock_end %}
	</div>
{% endset %}

{% set gp_heading %}
    {% if particle.heading_title or particle.heading_desc %}
        <div class="gp_heading" style="text-align:{{ particle.heading_text_align|e }};">
            {% if particle.heading_title %}
                <{{ particle.heading_title_tag|e }} style="margin-top:0;">{{ particle.heading_title|raw }}</{{ particle.heading_title_tag|e }}>
            {% endif %}
            {% if particle.heading_desc %}
                <div>{{ particle.heading_desc|raw|nl2br }}</div>
            {% endif %}
        </div>
    {% endif %}
{% endset %}

{% set gp_contents %}
	{% for item in particle.gp_items %}
        <div class="g-block size-{{ particle.columns|e }}">
            <div class="gp_item">
                {% if item.img %}
                    <div class="gp_team_img">
                        <img src="{{ url(item.img)|e }}" alt="{{ item.title|e }}">
                    </div>
                {% endif %}
                <div class="gp_team_info">
                    {% if item.title %}
                        <div class="gp_team_title">{{ item.title|raw }}</div>
                    {% endif %}
                    {% if item.desig %}
                        <div class="gp_team_desig">{{ item.desig|raw }}</div>
                    {% endif %}
                    {% if item.desc %}
                        <div class="gp_team_desc">{{ item.desc|raw }}</div>
                    {% endif %}
                    {% if item.social1_url %}
                        <div class="gp_team_social">
                            {% if item.social1_url %}<a href="{{ item.social1_url|e }}" target="{{ particle.social_target }}"><i class="{{ item.social1|e }}"></i></a>{% endif %}
                            {% if item.social2_url %}<a href="{{ item.social2_url|e }}" target="{{ particle.social_target }}"><i class="{{ item.social2|e }}"></i></a>{% endif %}
                            {% if item.social3_url %}<a href="{{ item.social3_url|e }}" target="{{ particle.social_target }}"><i class="{{ item.social3|e }}"></i></a>{% endif %}
                            {% if item.social4_url %}<a href="{{ item.social4_url|e }}" target="{{ particle.social_target }}"><i class="{{ item.social4|e }}"></i></a>{% endif %}
                            {% if item.social5_url %}<a href="{{ item.social5_url|e }}" target="{{ particle.social_target }}"><i class="{{ item.social5|e }}"></i></a>{% endif %}
                        </div>
                    {% endif %}
                    {% if item.btn_url %}
                        <a href="{{ item.btn_url|e }}" class="gp_team_btn" style="background-color: {{ particle.btn_bg|default('#00b5ad') }};">{{ item.btn_txt|e }}</a>
                    {% endif %}
                </div>
            </div>
        </div>
	{% endfor %}
{% endset %}


{% block particle %}
	{{ containerblock_start }}
        {% if particle.gp_items %}
            {{ gp_heading }}
            <div class="gp_items">
                <div class="g-grid">
                    {{ gp_contents }}
                </div>    
            </div>
        {% endif %}
	{{ containerblock_end }}
{% endblock %}