{% extends '@nucleus/partials/particle.html.twig' %}

{% set containerblock_start %}
	<div id="{{ id }}" class="gp_video_player {{ particle.class }}">
{% endset %}

{% set containerblock_end %}
	</div>
{% endset %}

{% set gp_headline %}
    {% if particle.heading_title or particle.heading_desc %}
        <div class="gp_heading" style="text-align:{{ particle.textAlign|e }};">
            {% if particle.heading_title %}
                <{{ particle.heading_title_tag|e }} style="margin-top:0;">{{ particle.heading_title|raw }}</{{ particle.heading_title_tag|e }}>
            {% endif %}
            {% if particle.heading_desc %}
                <div>{{ particle.heading_desc|raw|nl2br }}</div>
            {% endif %}
        </div>
    {% endif %}
{% endset %}

{% set gp_video %}
	<div class="gp_player">
        {% if particle.videoType == 'html' %}
            <video{% if particle.html_poster %} poster="{{ url(particle.html_poster)|e }}"{% endif %} id="gp_video" playsinline controls>
                {% if particle.html_video_mp4 %}
                    <source src="{{ url(particle.html_video_mp4)|e }}" type="video/mp4" />
                {% endif %}
                {% if particle.html_video_webm %}
                    <source src="{{ url(particle.html_video_webm)|e }}" type="video/webm" />
                {% endif %}
            </video>
        {% elseif particle.videoType == 'youtube' %}
            <div class="plyr__video-embed" id="gp_video">
                <iframe
                    src="https://www.youtube.com/embed/{{ particle.youtube_id|e }}?iv_load_policy=3&amp;modestbranding=1&amp;playsinline=1&amp;showinfo=0&amp;rel=0&amp;enablejsapi=1"
                    allowfullscreen
                    allowtransparency
                    allow="autoplay"
                ></iframe>
            </div>
        {% elseif particle.videoType == 'vimeo' %}
            <div class="plyr__video-embed" id="gp_video">
                <iframe
                    src="https://player.vimeo.com/video/{{ particle.vimeo_id|e }}?loop=false&amp;byline=false&amp;portrait=false&amp;title=false&amp;speed=true&amp;transparent=0&amp;gesture=media"
                    allowfullscreen
                    allowtransparency
                    allow="autoplay"
                ></iframe>
            </div>
        {% endif %}
    </div>
{% endset %}

{% block stylesheets %}
    <style type="text/css">
        {% if particle.player_color %}
            #{{ id }} .plyr__control--overlaid,
            #{{ id }} .plyr--audio .plyr__control.plyr__tab-focus,
            #{{ id }} .plyr--audio .plyr__control:hover,
            #{{ id }} .plyr--audio .plyr__control[aria-expanded=true],
            #{{ id }} .plyr--video .plyr__control.plyr__tab-focus,
            #{{ id }} .plyr--video .plyr__control:hover,
            #{{ id }} .plyr--video .plyr__control[aria-expanded=true],
            #{{ id }} .plyr__control--overlaid:focus,
            #{{ id }} .plyr__control--overlaid:hover,
            #{{ id }} .plyr__menu__container .plyr__control[role=menuitemradio][aria-checked=true]:before {
                background: {{ particle.player_color|default('#00b5ad') }};
            }
            #{{ id }} .plyr--full-ui input[type=range] {
                color: {{ particle.player_color|default('#00b5ad') }};
            }
        {% endif %}
        #{{ id }} .plyr {
            {% if particle.boxShadow %}
                box-shadow: 0 2px 5px rgba(0,0,0,.2);
                -webkit-box-shadow: 0 2px 5px rgba(0,0,0,.2);
            {% endif %}
            {% if particle.borderRadius %}
                border-radius: 4px;
            {% endif %}
        }
    </style>
{% endblock %}

{% set gpscript %}
    const player = new Plyr('#gp_video');
{% endset %}

{% block particle %}
	{{ containerblock_start }}
        {{ gp_headline }}
        {{ gp_video }}
	{{ containerblock_end }}
{% endblock %}

{% do gantry.load('jquery') %}
{% do gantry.document.addScript(url('gantry-theme://js/plyr.min.js'), 0, 'footer') %}
{% do gantry.document.addInlineScript(gpscript, 0, 'footer') %}