{% extends '@nucleus/partials/particle.html.twig' %}

{% set containerblock_start %}
	<div id="{{ id }}" class="gp_accordion1 {{ particle.class }}">
{% endset %}

{% set containerblock_end %}
	</div>
{% endset %}

{% set gp_heading %}
	{% if particle.heading_title or particle.heading_desc %}
		<div class="gp_heading" style="text-align:{{ particle.heading_text_align|e }};">
			{% if particle.heading_title %}
				<{{ particle.heading_title_tag|e }} style="margin-top:0;">{{ particle.heading_title|raw }}</{{ particle.heading_title_tag|e }}>
			{% endif %}
			{% if particle.heading_desc %}
				<div>{{ particle.heading_desc|raw|nl2br }}</div>
			{% endif %}
		</div>
	{% endif %}
{% endset %}

{% set gp_contents %}
	{% for item in particle.gp_items %}
		{% if item.question %}
			<h4 class="gp_accordion_question gp_dir_{{ particle.icon_type }}{% if particle.activate_first and loop.first %} gp_active{% endif %}" data-gpaccordion="gp_accordion_{{ loop.index }}">
				{% if item.icon %}
					<i class="{{ item.icon }} gp_icon"></i>
				{% endif %}
				{{ item.question|raw }}
				{% if particle.icon_type != 'disable' %}
					<span class="gp_accordion_dir"></span>
				{% endif %}
			</h4>
			<div id="gp_accordion_{{ loop.index }}" class="gp_accordion_answer{% if particle.activate_first and loop.first %} gp_active{% endif %}">
				<div class="gp_accordion_answer_text">{{ item.answer|raw|nl2br }}</div>
				{% if item.link_url %}
					<div class="gp_accordion_link">
						<a href="{{ item.link_url|e }}" class="{{ item.link_class|e }}">{{ item.link_text|raw }}</a>
					</div>
				{% endif %}
			</div>
		{% endif %}
	{% endfor %}
{% endset %}

{% block stylesheets %}
	<style type="text/css">      
		#{{ id }} .gp_accordion_question:not(.gp_active) {
			{% if particle.qd_bg %}
				background-color: {{ particle.qd_bg|e }};
			{% endif %}
			{% if particle.qd_text %}
				color: {{ particle.qd_text|e }};
			{% endif %}
			{% if particle.qd_border %}
				border-top: 1px solid {{ particle.qd_border|e }};
			{% endif %}
		}
		{% if particle.qd_icon %}
			#{{ id }} .gp_accordion_question:not(.gp_active) .gp_accordion_icon,
			#{{ id }} .gp_accordion_question:not(.gp_active) .gp_accordion_dir {
				color: {{ particle.qd_icon|e }};
			}
		{% endif %}

		#{{ id }} .gp_accordion_question.gp_active {
			{% if particle.qa_bg %}
				background-color: {{ particle.qa_bg|e }};
			{% endif %}
			{% if particle.qa_text %}
				color: {{ particle.qa_text|e }};
			{% endif %}
			{% if particle.qa_border %}
				border-top: 1px solid {{ particle.qa_border|e }};
			{% endif %}
		}
		{% if particle.qa_icon %}
			#{{ id }} .gp_accordion_question.gp_active .gp_accordion_icon,
			#{{ id }} .gp_accordion_question.gp_active .gp_accordion_dir {
				color: {{ particle.qa_icon|e }};
			}
		{% endif %}

		#{{ id }} .gp_accordion_answer {
			{% if particle.a_bg %}
				background-color: {{ particle.a_bg|e }};
			{% endif %}
			{% if particle.a_text %}
				color: {{ particle.a_text|e }};
			{% endif %}
		}
	</style>
{% endblock %}

{% set gpscript %}
	jQuery(document).ready(function(e){e("#{{ id }} .gp_accordion_question").click(function(){var i=e(this);if(i.hasClass("gp_active"))i.removeClass("gp_active"),i.next().slideUp(350);else{e("#{{ id }} .gp_accordion_answer").slideUp(350);var a=e(this).attr("data-gpaccordion");e("#{{ id }} #"+a).slideToggle(350),e("#{{ id }} .gp_accordion_question").removeClass("gp_active"),e(this).addClass("gp_active")}})});
{% endset %}

{% block particle %}
	{{ containerblock_start }}
		{{ gp_heading }}
		<div class="gp_items">
			{% if particle.gp_items %}
				{{ gp_contents }}
			{% endif %}
		</div>
	{{ containerblock_end }}
{% endblock %}

{% do gantry.load('jquery') %}
{% do gantry.document.addInlineScript(gpscript, 0, 'footer') %}