{% extends '@nucleus/partials/particle.html.twig' %}

{% set containerblock_start %}
	<div id="{{ id }}" class="gp_bottom3 {{ particle.class }}">
{% endset %}

{% set containerblock_end %}
	</div>
{% endset %}

{% set gp_top %}
    <div class="g-grid">
        {% if particle.logo_img or particle.contacts %}
            <div class="g-block size-50">
                <div class="gp_content">
                    {% if particle.logo_img %}
                        <img src="{{ url(particle.logo_img)|e }} " alt="{{ particle.logo_img_alt|e }}">
                    {% endif %}
                    {% if particle.contacts %}
                        <div class="gp_desc">{{ particle.contacts|raw|nl2br }}</div>
                    {% endif %}
                </div>
            </div>
        {% endif %}

        {% if particle.menu1_title %}
            <div class="g-block">
                <div class="gp_content">
                    <h3>{{ particle.menu1_title|raw }}</h3>
                    {% if particle.menu1_item %}
                        <ul>
                            {% for menu1 in particle.menu1_item %}
                                <li><a href="{{ menu1.url|e }}" target="{{ menu1.target|e }}">{{ menu1.name|e }}</a></li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
        {% endif %}

        {% if particle.menu2_title %}
            <div class="g-block">
                <div class="gp_content">
                    <h3>{{ particle.menu2_title|raw }}</h3>
                    {% if particle.menu2_item %}
                        <ul>
                            {% for menu2 in particle.menu2_item %}
                                <li><a href="{{ menu2.url|e }}" target="{{ menu2.target|e }}">{{ menu2.name|e }}</a></li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
        {% endif %}

        {% if particle.menu3_title %}
            <div class="g-block">
                <div class="gp_content">
                    <h3>{{ particle.menu3_title|raw }}</h3>
                    {% if particle.menu3_item %}
                        <ul>
                            {% for menu3 in particle.menu3_item %}
                                <li><a href="{{ menu3.url|e }}" target="{{ menu3.target|e }}">{{ menu3.name|e }}</a></li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
        {% endif %}
    </div>
{% endset %}

{% set start_date = particle.date.start|trim in ['now', ''] ? 'now'|date('Y') : particle.date.start|e %}
{% set end_date = particle.date.end|trim in ['now', ''] ? 'now'|date('Y') : particle.date.end|e %}

{% set gp_bottom %}
    <div class="g-grid">
        <div class="g-block size-{% if particle.social_icons %}50{% else %}100{% endif %}">
            <div class="gp_copyright">
                &copy;
                {% if (start_date != end_date) %}{{ start_date|e }} - {% endif %}
                {{ end_date|e }}
                {{ particle.owner|raw }}
            </div>
        </div>
        {% if particle.social_icons %}
            <div class="g-block size-50">
                <div class="gp_social">
                    {% for social in particle.social_icons %}
                        <a href="{{ social.url|e }}" target="{{ social.target|e }}"><i class="{{ social.icon|e }}"></i></a>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>
    
{% endset %}

{% block particle %}
	{{ containerblock_start }}
        <div class="gp_bottom_top">
            {{ gp_top }}
        </div>
        {% if particle.owner %}
            <div class="gp_divider"></div>
            <div class="gp_bottom_bottom">
                {{ gp_bottom }}
            </div>    
        {% endif %}
	{{ containerblock_end }}
{% endblock %}