{% extends '@nucleus/partials/particle.html.twig' %}

{% block stylesheets %}
    <style type="text/css">      
   		#{{ id }} .gp_brands, #{{ id }} .gp_brands img {
   			max-height: {{ particle.brandsheight|default('80') }}px;
   		}
    </style>
{% endblock %}

{% block particle %}
	<div id="{{ id }}" class="gp_brands_scroller{% if particle.class %} {{ particle.class|e }}{% endif %}">
		<div class="gp_brands">
            <ul>
    			{% for item in particle.gp_items %}
    				<li>
    					{% if item.link %}<a href="{{ item.link|e }}" target="{{ item.target|e }}">{% endif %}
    						<img src="{{ url(item.img)|e }}" alt="{{ item.alt|e }}">
    					{% if item.link %}</a>{% endif %}
    				</li>
    			{% endfor %}
            </ul>
		</div>
	</div>
{% endblock %}

{% set gpscript %}
    jQuery(document).ready(function($) {
        $('#{{ id }} ul').gpBrandsScroller({
            pause: {% if particle.pauseOnHover %}true{% else %}false{% endif %},
            speed: {{ particle.speed|default('70') }}
        });
    });
{% endset %}

{% do gantry.load('jquery') %}
{% do gantry.document.addScript(url('gantry-theme://js/gp_brands_scroller.min.js'), 0, 'footer') %}
{% do gantry.document.addInlineScript(gpscript, 0, 'footer') %}