{% extends '@nucleus/partials/particle.html.twig' %}

{% set containerblock_start %}
	<div id="{{ id }}" class="gp_cta3 {{ particle.class }}">
		{% if particle.bg_img and particle.bg_mask %}
			<div class="gp_mask"></div>
		{% endif %}
{% endset %}

{% set containerblock_end %}
	</div>
{% endset %}

{% block stylesheets %}
    <style type="text/css">
      {% if particle.mobile_padding %}
        @media only all and (max-width: 767px) {
          #{{ id }}.gp_cta3 {
            padding: {{ particle.mobile_padding|e }} !important;
          }
        }
      {% endif %}
      
   		#{{ id }}.gp_cta3 {
   			position: relative;
        text-transform: uppercase;
   			{% if particle.bg_color %}
   				background-color: {{ particle.bg_color|e }};
   			{% endif %}
   			{% if particle.bg_img %}
   				background-image: url("{{ url(particle.bg_img)|e }}");
   				background-position: center center;
			    background-repeat: no-repeat;
			    background-size: cover;
   			{% endif %}
   			{% if particle.border_color %}
   				border: 1px solid {{ particle.border_color|e }};
   			{% endif %}
   			{% if particle.text_color %}
   				color: {{ particle.text_color|e }};
   			{% endif %}
   			{% if particle.padding %}
   				padding: {{ particle.padding|e }};
   			{% endif %}
   			{% if particle.shadow %}
   				box-shadow: {{ particle.shadow|e }};
   				-webkit-box-shadow: {{ particle.shadow|e }};
   			{% endif %}
   			{% if particle.font_size %}
   				font-size: {{ particle.font_size|e }};
   			{% endif %}
   			text-align: {{ particle.text_align|e }};
   		}
   		{% if particle.text_color %}
   			#{{ id }}.gp_cta3 h1, #{{ id }}.gp_cta3 h2, #{{ id }}.gp_cta3 h3 {
   				color: {{ particle.text_color|e }};
   			}
   		{% endif %}
   		#{{ id }}.gp_cta3 .gp_cta3_content {
   			position: relative;
   		}
      #{{ id }}.gp_cta3 .gp_cta3_subtitle {
        opacity: 0.75;
        margin: 0 0 15px;
        line-height: 1.1;
      }
      #{{ id }}.gp_cta3 .gp_cta3_last {
        margin-bottom: 0;
      }
   		{% if particle.bg_img and particle.bg_mask %}
            #{{ id }}.gp_cta3 .gp_mask {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background: {{ particle.bg_mask_color|default('#000000') }};
                opacity: {{ particle.bg_mask|e }};
            }
        {% endif %}
    </style>
{% endblock %}

{% block particle %}
	{{ containerblock_start }}
		<div class="gp_cta3_content">
      {% if particle.subtitle %}
        <p class="gp_cta3_subtitle">{{ particle.subtitle|raw }}</p>
      {% endif %}

			{% if particle.title %}
				<{{ particle.title_tag|e }} style="margin-top:0;">{{ particle.title|raw }}</{{ particle.title_tag|e }}>
			{% endif %}

			{% if particle.button1_text or particle.button2_text %}
				<p class="gp_cta3_last">
					{% if particle.button1_text %}
						<a href="{{ particle.button1_url|e }}" target="{{ particle.button1_target }}" class="{{ particle.button1_class|e }}">{{ particle.button1_text|raw }} </a>
					{% endif %}
					{% if particle.button2_text %}
						&nbsp;&nbsp;<a href="{{ particle.button2_url|e }}" target="{{ particle.button2_target }}" class="{{ particle.button2_class|e }}">{{ particle.button2_text|raw }} </a>
					{% endif %}
				</p>
			{% endif %}
		</div>
	{{ containerblock_end }}
{% endblock %}