{% extends '@nucleus/partials/particle.html.twig' %}

{% set containerblock_start %}
	<div id="{{ id }}" class="gp_contactinfo5 {{ particle.class }}">
{% endset %}

{% set containerblock_end %}
	</div>
{% endset %}

{% set gp_content %}
	<div class="gp_content">
		{% if particle.title %}<h3>{{ particle.title|raw|nl2br }}</h3>{% endif %}
		{% if particle.desc %}<div class="gp_desc">{{ particle.desc|raw|nl2br }}</div>{% endif %}
		{% for item in particle.gpItems %}
			<div class="gp_info">
				{% if item.img %}
					<div class="gp_img">
						<img src="{{ url(item.img)|e }}" alt="{{ item.title|e }}">
					</div>
				{% endif %}
				<div class="gp_info_desc">
					{% if item.title %}<div class="gp_info_title">{{ item.title|raw }}</div>{% endif %}
					{% if item.subtitle %}<div class="gp_info_subtitle">{{ item.subtitle|raw }}</div>{% endif %}
					{% if item.txt1 %}<div class="gp_info_list">{% if item.icon1 %}<i class="{{ item.icon1|e }}"></i> {% endif %}{{ item.txt1|raw }}</div>{% endif %}
					{% if item.txt2 %}<div class="gp_info_list">{% if item.icon2 %}<i class="{{ item.icon2|e }}"></i> {% endif %}{{ item.txt2|raw }}</div>{% endif %}
					{% if item.txt3 %}<div class="gp_info_list">{% if item.icon3 %}<i class="{{ item.icon3|e }}"></i> {% endif %}{{ item.txt3|raw }}</div>{% endif %}
				</div>
			</div>
		{% endfor %}
	</div>
{% endset %}

{% block particle %}
	{{ containerblock_start }}
		{{ gp_content }}
	{{ containerblock_end }}
{% endblock %}
