{% extends '@nucleus/partials/particle.html.twig' %}

{% set containerblock_start %}
	<div id="{{ id }}" class="gp_content5 {{ particle.class }}">
		{% if particle.heading_title or particle.heading_desc %}
			<div class="gp_heading">
				{% if particle.heading_title %}
					<{{ particle.heading_title_tag|e }} style="margin-top:0;">{{ particle.heading_title|raw }}</{{ particle.heading_title_tag|e }}>
				{% endif %}
				{% if particle.heading_desc %}
					<div>{{ particle.heading_desc|raw|nl2br }}</div>
				{% endif %}
			</div>
		{% endif %}
{% endset %}

{% set containerblock_end %}
	</div>
{% endset %}

{% set gp_contents %}
	{% for item in particle.gp_items %}
		<div class="g-block size-{{ particle.columns }} {{ item.class }} {{ item.variations }}">
			<div class="gp_content">
				{% if item.img %}
					{% if item.img_url %}<a href="{{ item.img_url|e }}">{% endif %}
						<img src="{{ url(item.img)|e }}" alt="{{ item.img_alt|e }}">
					{% if item.img_url %}</a>{% endif %}
				{% else %}
					{% if item.subtitle %}
						<div class="gp_subtitle" style="background-color: {{ item.bgcolor }};color: {{ item.color }};">{{ item.subtitle|raw }}</div>
					{% endif %}
					{% if item.title %}
						<h3>{{ item.title|raw }}</h3>
					{% endif %}
					{% if item.description %}
						<div>
							{{ item.description|raw }}
							{% if item.link_url %}
								<a href="{{ item.link_url|e }}">{{ item.link_text|raw }}</a>
							{% endif %}
						</div>
					{% endif %}
				{% endif %}
			</div>
		</div>
	{% endfor %}
{% endset %}

{% set gp_buttons %}
	{% if particle.button1_text or particle.button2_text %}
		<div class="gp_buttons">
			{% if particle.button1_text %}
				<a href="{{ particle.button1_url|e }}" target="{{ particle.button1_target }}" class="{{ particle.button1_class|e }}">{{ particle.button1_text|raw }} </a>
			{% endif %}
			{% if particle.button2_text %}
				&nbsp;&nbsp;<a href="{{ particle.button2_url|e }}" target="{{ particle.button2_target }}" class="{{ particle.button2_class|e }}">{{ particle.button2_text|raw }} </a>
			{% endif %}
		</div>
	{% endif %}
{% endset %}

{% block stylesheets %}
	<style type="text/css">
		{% if particle.mobile_padding %}
			@media only all and (max-width: 767px) {
				#{{ id }} {
					padding: {{ particle.mobile_padding|e }} !important;
				}
			}
		{% endif %}
		#{{ id }} {
			{% if particle.text_color %}
				color: {{ particle.text_color|e }};
			{% endif %}
			{% if particle.padding %}
				padding: {{ particle.padding|e }};
			{% endif %}
			{% if particle.font_size %}
				font-size: {{ particle.font_size|e }};
			{% endif %}
			text-align: {{ particle.text_align|e }};
		}
		#{{ id }} .gp_heading {
			text-align: {{ particle.heading_text_align|e }};
		}
		#{{ id }} .gp_buttons {
			text-align: {{ particle.btn_text_align|e }};
		}
		{% if particle.text_color %}
			#{{ id }} h1, #{{ id }} h2, #{{ id }} h3, #{{ id }} h4 {
				color: {{ particle.text_color|e }};
			}
		{% endif %}
	</style>
{% endblock %}

{% block particle %}
	{{ containerblock_start }}
		<div class="g-grid">
			{% if particle.gp_items %}
				{{ gp_contents }}
			{% endif %}
		</div>
		{{ gp_buttons }}
	{{ containerblock_end }}
{% endblock %}