{% extends '@nucleus/partials/particle.html.twig' %}

{% block particle %}
	<div class="gp_header1" style="text-align:{{ particle.textAlign|e }};margin-bottom:{{ particle.margin|e }}px;">
		{% if particle.headline %}
			<{{ particle.tag|e }}>{% if particle.icon %}<i class="{{ particle.icon|e }}"></i> {% endif %}{{ particle.headline|raw }}</{{ particle.tag|e }}>
		{% endif %}
		{% if particle.description %}
			<div>{{ particle.description|raw|nl2br }}</div>
		{% endif %}
	</div>
{% endblock %}