{% extends '@nucleus/partials/particle.html.twig' %}

{% set containerblock_start %}
	<div id="{{ id }}" class="gp_imagegallery4 {{ particle.class }}">
{% endset %}

{% set containerblock_end %}
	</div>
{% endset %}

{% set gp_heading %}
    {% if particle.heading_title or particle.heading_desc %}
        <div class="gp_heading" style="text-align:{{ particle.heading_text_align|e }};">
            {% if particle.heading_title %}
                <{{ particle.heading_title_tag|e }} style="margin-top:0;">{{ particle.heading_title|raw }}</{{ particle.heading_title_tag|e }}>
            {% endif %}
            {% if particle.heading_desc %}
                <div>{{ particle.heading_desc|raw|nl2br }}</div>
            {% endif %}
        </div>
    {% endif %}
{% endset %}

{% set gp_contents %}
	{% for item in particle.gp_items %}
        <div class="gp_block">
            <div class="gp_img_block{% if item.img_title or item.img_desc %} has_title{% endif %}">
                <img src="{{ url(item.img)|e }}" alt="{{ item.img_alt|e }}">
                <div class="gp_img_content">
                    {% if item.img_title %}<h4>{{ item.img_title|raw }}</h4>{% endif %}
                    {% if item.img_desc %}<div>{{ item.img_desc|raw }}</div>{% endif %}
                </div>
            </div>
        </div>
	{% endfor %}
{% endset %}

{% set gpscript %}
    jQuery(document).ready(function($) {
        $('#{{ id }} .gp_grid').slick({
            rtl: {% if gantry.page.direction == 'rtl' %}true{% else %}false{% endif %},
            infinite: true,
            autoplay: {% if particle.autoplay %}true{% else %}false{% endif %},
            pauseOnHover: {% if particle.pauseOnHover %}true{% else %}false{% endif %},
            adaptiveHeight: true
        });
    });
{% endset %}

{% block particle %}
	{{ containerblock_start }}
        {% if particle.gp_items %}
            {{ gp_heading }}
            <div class="gp_items">
                <div class="gp_grid">
                    {{ gp_contents }}
                </div>    
            </div>
        {% endif %}
	{{ containerblock_end }}
{% endblock %}

{% do gantry.load('jquery') %}
{% if particle.slick %}
    {% do gantry.document.addScript(url('gantry-theme://js/slick.min.js'), 0, 'footer') %}
{% endif %}
{% do gantry.document.addInlineScript(gpscript, 0, 'footer') %}