{% extends '@nucleus/partials/particle.html.twig' %}

{% set containerblock_start %}
	<div id="{{ id }}" class="gp_infobanner4 {{ particle.class }}">
{% endset %}

{% set containerblock_end %}
	</div>
{% endset %}

{% set gp_contents %}
	{% for item in particle.gp_items %}
		<div class="g-block size-{{ particle.columns|e }} {{ item.class }}">
            <div class="gp_content" style="background-image: url({{ url(item.img)|e }});">
                {% if item.img %}
                    <div class="gp_img">
                        <img src="{{ url(item.img)|e }}" alt="{{ particle.img_alt|e }}">
                        {% if particle.mask %}
                            <div class="gp_mask" style="opacity:{{ particle.mask|e }};"></div>
                        {% endif %}
                    </div>
                {% endif %}

                
                <div class="gp_inner">
                    <div class="gp_inner_content">
                        {% if item.subTitle %}
                            <div class="gp_subtitle">{{ item.subTitle|raw }}</div>
                        {% endif %}
                        {% if item.title %}
                            <h3>{{ item.title|raw }}</h3>
                        {% endif %}
                        {% if item.description %}
                            <div class="gp_desc">{{ item.description|raw }}</div>
                        {% endif %}
                        {% if item.link_url %}
                            <div class="gp_btn"><a href="{{ item.link_url|e }}">{{ item.link_text|raw }}</a></div>
                        {% endif %}
                    </div>
                </div>
            </div>
		</div>
	{% endfor %}
{% endset %}

{% block particle %}
	{{ containerblock_start }}
        {% if particle.gp_items %}
            <div class="g-grid">
                {{ gp_contents }}
            </div>
        {% endif %}
	{{ containerblock_end }}
{% endblock %}