{% extends '@nucleus/partials/particle.html.twig' %}

{% set containerblock_start %}
	<div id="{{ id }}" class="gp_iconblock7 {{ particle.class }}">
{% endset %}

{% set containerblock_end %}
	</div>
{% endset %}

{% set gp_desc %}
	{% if particle.heading_title or particle.heading_desc %}
		<div class="gp_heading">
			{% if particle.heading_title %}
				<{{ particle.heading_title_tag|e }} style="margin-top:0;">{{ particle.heading_title|raw|nl2br }}</{{ particle.heading_title_tag|e }}>
			{% endif %}
			{% if particle.heading_desc %}
				<div>{{ particle.heading_desc|raw|nl2br }}</div>
			{% endif %}
			{% if particle.btn_url %}
				<div class="gp_heading_btn"><a href="{{ particle.btn_url|e }}" class="{{ particle.btn_class|e }}">{{ particle.btn_text|raw }}</a></div>
			{% endif %}
		</div>
	{% endif %}
{% endset %}

{% set gp_contents %}
	{% for item in particle.gp_items %}
		<div class="g-block size-{{ particle.columns }} {{ item.class }} {{ item.variations }}">
			<div class="gp_content">
				<div class="g-grid{% if particle.icon_border %} gp_aligncenter{% endif %}">
					<div class="g-block size-{% if particle.icon_border %}30{% else %}17{% endif %}">
						{% if item.icon %}
							<i class="{{ item.icon }} gp_icon{% if particle.icon_border %} has_iconborder{% endif %}" style="color: {{ item.icon_color|e }};"></i>
						{% endif %}
					</div>
					<div class="g-block size-{% if particle.icon_border %}70{% else %}83{% endif %}">
						<div class="gp_right{% if particle.icon_border %} has_iconborder{% endif %}">
							{% if item.title %}
								<div class="gp_title{% if particle.icon_border %} has_iconborder{% endif %}">{{ item.title|raw }}</div>
							{% endif %}
							{% if item.description %}
								<div>{{ item.description|raw }}</div>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		</div>
	{% endfor %}
{% endset %}

{% block stylesheets %}
	<style type="text/css">
		@media only all and (max-width: 767px) {
			{% if particle.mobile_padding %}
				#{{ id }} {
					padding: {{ particle.mobile_padding|e }} !important;
				}
			{% endif %}
		}
		#{{ id }} {
			{% if particle.text_color %}
				color: {{ particle.text_color|e }};
			{% endif %}
			{% if particle.padding %}
				padding: {{ particle.padding|e }};
			{% endif %}
			{% if particle.font_size %}
				font-size: {{ particle.font_size|e }};
			{% endif %}
		}
		#{{ id }} .gp_heading {
			text-align: {{ particle.heading_text_align|e }};
		}
		#{{ id }} .gp_icon.has_iconborder {
			border: 3px solid {{ particle.icon_border|e }};
			background: {{ particle.icon_bg|e }};
		}
	</style>
{% endblock %}

{% block particle %}
	{{ containerblock_start }}
		<div class="g-grid gp_aligncenter">
			<div class="g-block size-{% if particle.icon_border %}35{% else %}40{% endif %}">
				{{ gp_desc }}
			</div>
			<div class="g-block size-5"></div>
			<div class="g-block size-{% if particle.icon_border %}60{% else %}55{% endif %}">
				<div class="gp_list">
					<div class="g-grid">
						{% if particle.gp_items %}
							{{ gp_contents }}
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	{{ containerblock_end }}
{% endblock %}