{% extends '@nucleus/partials/particle.html.twig' %}

{% set containerblock_start %}
	<div id="{{ id }}" class="gp_iconblock6 {{ particle.class }}">
{% endset %}

{% set containerblock_end %}
	</div>
{% endset %}

{% set gp_contents %}
	{% if particle.heading_title or particle.heading_desc %}
		<div class="g-block gp_desc {{ item.class }} {{ item.variations }}">    
			<div class="gp_content">
				{% if particle.heading_title %}<h3>{{ particle.heading_title|raw }}</h3>{% endif %}
				{% if particle.heading_desc %}<div>{{ particle.heading_desc|raw }}</div>{% endif %}
				{% if particle.heading_link_url %}<div class="gp_link"><a href="{{ particle.heading_link_url|e }}">{{ particle.heading_link_text|raw }}</a></div>{% endif %}
			</div>
		</div>
	{% endif %}
	{% for item in particle.gp_items %}
		<div class="g-block gp_list {{ item.class }} {{ item.variations }}">
			<div class="gp_content">
				{% if item.icon %}
				  <i class="{{ item.icon }} gp_icon" style="color: {{ item.icon_color|e }};"></i>
				{% endif %}
				{% if item.title %}
					<div class="gp_title">{{ item.title|raw }}</div>
				{% endif %}
				{% if item.description %}
					<div>{{ item.description|raw }}</div>
				{% endif %}
				{% if item.link_url %}
					<div class="gp_link"><a href="{{ item.link_url|e }}" class="{{ item.link_class|e }}">{{ item.link_text|raw }}</a></div>
				{% endif %}
			</div>
		</div>
	{% endfor %}
{% endset %}

{% block stylesheets %}
	<style type="text/css">
		{% if particle.mobile_padding %}
			@media only all and (max-width: 767px) {
				#{{ id }} {
					padding: {{ particle.mobile_padding|e }} !important;
				}
			}
		{% endif %}
		#{{ id }} {
			{% if particle.padding %}
				padding: {{ particle.padding|e }};
			{% endif %}
			{% if particle.font_size %}
				font-size: {{ particle.font_size|e }};
			{% endif %}
			text-align: {{ particle.text_align|e }};
		}
		#{{ id }} > .g-grid > .gp_desc {
			background-color: {{ particle.desc_bg|default('#2185d0') }};
			color: {{ particle.desc_text|default('#ffffff') }};
		}
		#{{ id }} > .g-grid > .gp_desc a {
			color: {{ particle.desc_text|default('#ffffff') }};
		}
		#{{ id }} > .g-grid > .gp_desc h3 {
			color: {{ particle.desc_text|default('#ffffff') }};
		}
		#{{ id }} > .g-grid > .gp_list {
			background-color: {{ particle.ib_bg|default('#2185d0') }};
			color: {{ particle.ib_text|default('#636363') }};
			border: 1px solid {{ particle.ib_border|default('#eeeeee') }};
		}
	</style>
{% endblock %}

{% block particle %}
	{{ containerblock_start }}
		<div class="g-grid">
			{% if particle.gp_items %}
				{{ gp_contents }}
			{% endif %}
		</div>
	{{ containerblock_end }}
{% endblock %}