{% extends '@nucleus/partials/particle.html.twig' %}

{% set containerblock_start %}
	<div id="{{ id }}" class="gp_imageblock7 {{ particle.class }}">
{% endset %}

{% set containerblock_end %}
	</div>
{% endset %}

{% set gp_heading %}
	{% if particle.heading_title or particle.heading_desc %}
		<div class="gp_heading">
			{% if particle.heading_title %}
				<{{ particle.heading_title_tag|e }} style="margin-top:0;">{{ particle.heading_title|raw }}</{{ particle.heading_title_tag|e }}>
			{% endif %}
			{% if particle.heading_desc %}
				<div>{{ particle.heading_desc|raw|nl2br }}</div>
			{% endif %}
		</div>
	{% endif %}
{% endset %}

{% set gp_contents %}
	{% for item in particle.gp_items %}
		<div class="gp_content {{ cycle(['odd', 'even'], loop.index0) }} {{ item.class }} {{ item.variations }}">
			<div class="g-grid">
				<div class="g-block size-30">
					{% if item.img %}
						<div class="gp_img">
							<img src="{{ url(item.img)|e }}" alt="{{ item.img_alt|e }}">
						</div>
					{% endif %}
				</div>
				<div class="g-block size-5"></div>
				<div class="g-block size-65">
					{% if item.title or item.description %}
						<div class="gp_text">
							{% if item.title %}
								<h3>{{ item.title|raw }}</h3>
							{% endif %}
							{% if item.description %}
								<div>{{ item.description|raw }}</div>
							{% endif %}
							{% if item.link_url %}
								<div class="gp_link"><a href="{{ item.link_url|e }}" class="{{ item.link_class|e }}">{{ item.link_text|raw }}</a></div>
							{% endif %}
						</div>
					{% endif %}
				</div>
			</div>
		</div>
		{% if not loop.last %}
			<div class="gp_divider"></div>
		{% endif %}
	{% endfor %}
{% endset %}

{% block stylesheets %}
	<style type="text/css">      
		#{{ id }} {
			{% if particle.text_color %}
				color: {{ particle.text_color|e }};
			{% endif %}
			{% if particle.font_size %}
				font-size: {{ particle.font_size|e }};
			{% endif %}
		}
		{% if particle.text_color %}
			#{{ id }} .gp_heading h1, #{{ id }} .gp_heading h2, #{{ id }} .gp_heading h3 {
				color: {{ particle.text_color|e }};
			}
		{% endif %}
		#{{ id }} .gp_heading {
			text-align: {{ particle.heading_text_align|e }};
		}
		{% if particle.img_border_radius %}
			#{{ id }} .gp_img > img {
				border-radius: {{ particle.img_border_radius|e }};
			}
		{% endif %}
		{% if particle.text_color %}
			#{{ id }} .gp_text > h3 {
				color: {{ particle.text_color|e }};
			}
		{% endif %}
	</style>
{% endblock %}

{% block particle %}
	{{ containerblock_start }}
		{{ gp_heading }}
		<div class="gp_contents">
			{% if particle.gp_items %}
				{{ gp_contents }}
			{% endif %}
		</div>
	{{ containerblock_end }}
{% endblock %}