{% extends '@nucleus/partials/particle.html.twig' %}

{% set containerblock_start %}
	<div id="{{ id }}" class="gp_propertylisting {{ particle.class }}">
{% endset %}

{% set containerblock_end %}
	</div>
{% endset %}

{% set gp_heading %}
	{% if particle.heading_title or particle.heading_desc %}
		<div class="gp_heading" style="text-align:{{ particle.heading_text_align|e }};">
			{% if particle.heading_title %}
				<{{ particle.heading_title_tag|e }} style="margin-top:0;">{{ particle.heading_title|raw }}</{{ particle.heading_title_tag|e }}>
			{% endif %}
			{% if particle.heading_desc %}
				<div>{{ particle.heading_desc|raw|nl2br }}</div>
			{% endif %}
		</div>
	{% endif %}
{% endset %}

{% set gp_contents %}
	{% for item in particle.gp_items %}
		<div class="g-block size-{{ particle.columns }} {{ item.class }} {{ item.variations }}">
			<div class="gp_content">
				{% if item.img %}
					<div class="gp_img">
						<img src="{{ url(item.img)|e }}" alt="{{ item.img_alt|e }}">
					</div>
				{% endif %}

				<div class="gp_text">
					<h3>{{ item.name|raw }}</h3>
					{% if item.desc %}
						<div class="gp_desc">{{ item.desc|raw|nl2br }}</div>
					{% endif %}
					{% if item.features %}
						<ul class="gp_features">
							{% for feature in item.features %}
								<li{% if feature.bold %} class="gp_bold"{% endif %}>
									{% if feature.icon %}<i class="{{ feature.icon|e }}"></i> {% endif %}{{ feature.name|e }}
								</li>
							{% endfor %}
						</ul>
					{% endif %}

					{% if item.link_url %}
						<div class="gp_link"><a href="{{ item.link_url|e }}" class="{{ item.link_class|e }}">{{ item.link_text|raw }}</a></div>
					{% endif %}
				</div>
			</div>
		</div>
	{% endfor %}
{% endset %}

{% block stylesheets %}
	<style type="text/css">
		#{{ id }} .gp_content {
			background: {{ particle.bgColor|e }};
			color: {{ particle.txtColor|e }};
			border-color: {{ particle.borderColor|e }};
		}
	</style>
{% endblock %}

{% block particle %}
	{{ containerblock_start }}
		{{ gp_heading }}
		<div class="g-grid">
			{{ gp_contents }}
		</div>
	{{ containerblock_end }}
{% endblock %}