{% extends '@nucleus/partials/particle.html.twig' %}

{% set containerblock_start %}
	<div id="{{ id }}" class="gp_schedule {{ particle.class }}">
{% endset %}

{% set containerblock_end %}
	</div>
{% endset %}

{% set gp_heading %}
	{% if particle.heading_title or particle.heading_desc %}
		<div class="gp_heading" style="text-align:{{ particle.heading_text_align|e }};">
			{% if particle.heading_title %}
				<{{ particle.heading_title_tag|e }} style="margin-top:0;">{{ particle.heading_title|raw }}</{{ particle.heading_title_tag|e }}>
			{% endif %}
			{% if particle.heading_desc %}
				<div>{{ particle.heading_desc|raw|nl2br }}</div>
			{% endif %}
		</div>
	{% endif %}
{% endset %}

{% set gp_contents %}
	<div class="gp_contents">
		{% for item in particle.gp_items %}
			{% if item.title %}
				<h4 class="gp_title gp_dir_{{ particle.icon_type }}{% if particle.activate_first and loop.first %} gp_active{% endif %}" data-gpschedule="gp_item_{{ loop.index }}">
					{% if item.icon %}
						<i class="{{ item.icon }} gp_icon"></i>
					{% endif %}
					{{ item.title|raw }}
					{% if particle.icon_type != 'disable' %}
						<span class="gp_dir"></span>
					{% endif %}
				</h4>
				<div id="gp_item_{{ loop.index }}" class="gp_desc{% if particle.activate_first and loop.first %} gp_active{% endif %}">
					<div class="gp_desc_text">
						<ul>
							{% for event in item.events %}
								<li{% if event.bold %} class="gp_bold"{% endif %}>
									{% if event.time %}
										<span class="gp_time">{{ event.time|e }}</span>
									{% endif %}
									{% if event.title %}
										<span>{{ event.title|e }}</span>
									{% endif %}
								</li>
							{% endfor %}
						</ul>
					</div>
				</div>
			{% endif %}
		{% endfor %}
	</div>
{% endset %}

{% block stylesheets %}
	<style type="text/css">      
		#{{ id }} .gp_title {
			{% if particle.qd_bg %}
				background-color: {{ particle.qd_bg|e }};
			{% endif %}
			{% if particle.qd_text %}
				color: {{ particle.qd_text|e }};
			{% endif %}
		}
		#{{ id }} .gp_desc {
			{% if particle.a_bg %}
				background-color: {{ particle.a_bg|e }};
			{% endif %}
			{% if particle.a_text %}
				color: {{ particle.a_text|e }};
			{% endif %}
		}
	</style>
{% endblock %}

{% set gpscript %}
	jQuery(document).ready(function($) {
		$("#{{ id }} .gp_title").click(function() {
			var $this = $(this);
			
			if ($this.hasClass('gp_active')) {
				$this.removeClass('gp_active');
				$this.next().slideUp(350);
			} else {
				$("#{{ id }} .gp_desc").slideUp(350);
				var gp_active = $(this).attr("data-gpschedule");
				$("#{{ id }} #"+gp_active).slideToggle(350);

				$("#{{ id }} .gp_title").removeClass("gp_active");
				$(this).addClass("gp_active");
			}
		});
	});
{% endset %}

{% block particle %}
	{{ containerblock_start }}
		{{ gp_heading }}
		{{ gp_contents }}
	{{ containerblock_end }}
{% endblock %}

{% do gantry.load('jquery') %}
{% do gantry.document.addInlineScript(gpscript, 0, 'footer') %}