{% extends '@nucleus/partials/particle.html.twig' %}

{% set containerblock_start %}
	<div id="{{ id }}" class="gp_tabs3 {{ particle.class }}">
{% endset %}

{% set containerblock_end %}
	</div>
{% endset %}

{% set gp_heading %}
	{% if particle.heading_title or particle.heading_desc %}
		<div class="gp_heading">
			{% if particle.heading_title %}
				<{{ particle.heading_title_tag|e }} style="margin-top:0;">{{ particle.heading_title|raw }}</{{ particle.heading_title_tag|e }}>
			{% endif %}
			{% if particle.heading_desc %}
				<div>{{ particle.heading_desc|raw|nl2br }}</div>
			{% endif %}
		</div>
	{% endif %}
{% endset %}

{% set gp_tabs %}
	<ul class="gp_tabs">
		{% for tab in particle.gp_items %}
			<li class="gp_tab{% if loop.first %} gp_active{% endif %}" data-gptab="gp_tab_{{ loop.index }}"><a href="javascript:;">
				{% if tab.icon %}<i class="{{ tab.icon|e }}"></i>{% endif %}
				{% if tab.title %}{{ tab.title|e }}{% endif %}
			</a></li>
		{% endfor %}
	</ul>
{% endset %}

{% set gp_contents %}
	{% for item in particle.gp_items %}
		<div class="gp_tab_accordion{% if loop.first %} gp_active{% endif %}" data-gptab="gp_tab_{{ loop.index }}">
			<span>
				{% if item.icon %}<i class="{{ item.icon|e }}"></i>{% endif %}
				{% if item.title %}{{ item.title|e }}{% endif %}
			</span>
			<span class="gp_tab_arrow"></span>
		</div>

		<div id="gp_tab_{{ loop.index }}" class="gp_tab_content{% if loop.first %} gp_active{% endif %}">
			<div class="gp_tab_content_block">
				{% if item.content_title %}
					<h3 class="gp_tab_content_title">{{ item.content_title|raw|nl2br }}</h3>
				{% endif %}
				{% if item.desc %}
					<div>{{ item.desc|raw|nl2br }}</div>
				{% endif %}
				{% if item.link_url %}
					<div class="gp_tab_link">
						<a href="{{ item.link_url|e }}" class="{{ item.link_class|e }}">{{ item.link_text|raw }}</a>
					</div>
				{% endif %}
			</div>
		</div>
	{% endfor %}
{% endset %}

{% block stylesheets %}
	<style type="text/css">
		{% if particle.dt_bg %}
			#{{ id }} ul.gp_tabs {
				background-color: {{ particle.dt_bg|e }};
			}
		{% endif %}
		{% if particle.dt_text %}
			#{{ id }} ul.gp_tabs li a {
				color: {{ particle.dt_text|e }};
			}
		{% endif %}
		{% if particle.at_text %}
			#{{ id }} ul.gp_tabs li.gp_active a {
				color: {{ particle.at_text|e }};
			}
		{% endif %}

		#{{ id }} .gp_tab_accordion {
			{% if particle.aac_dbg %}
				background-color: {{ particle.aac_dbg|e }};
			{% endif %}
			{% if particle.aac_dtext %}
				color: {{ particle.aac_dtext|e }};
			{% endif %}
		}
		#{{ id }} .gp_tab_accordion.gp_active {
			{% if particle.aac_bg %}
				background-color: {{ particle.aac_bg|e }};
			{% endif %}
			{% if particle.aac_text %}
				color: {{ particle.aac_text|e }};
			{% endif %}
		}
	</style>
{% endblock %}

{% set gpscript %}
	jQuery(document).ready(function(i){i("#{{ id }} li.gp_tab").click(function(){i("#{{ id }} .gp_tab_content").hide(),i("#{{ id }} .gp_tab_content").removeClass("gp_active");var a=i(this).attr("data-gptab");i("#{{ id }} #"+a).show(),i("#{{ id }} li.gp_tab").removeClass("gp_active"),i(this).addClass("gp_active"),i("#{{ id }} .gp_tab_accordion").removeClass("gp_active"),i("#{{ id }} .gp_tab_accordion[data-gptab^='"+a+"']").addClass("gp_active")}),i("#{{ id }} .gp_tab_accordion").click(function(){var a=i(this);if(a.hasClass("gp_active"))a.removeClass("gp_active"),a.next().slideUp(350);else{i("#{{ id }} .gp_tab_content").slideUp(350);var t=i(this).attr("data-gptab");i("#{{ id }} #"+t).slideToggle(350),i("#{{ id }} .gp_tab_accordion").removeClass("gp_active"),i(this).addClass("gp_active"),i("#{{ id }} li.gp_tab").removeClass("gp_active"),i("#{{ id }} li.gp_tab[data-gptab^='"+t+"']").addClass("gp_active")}})});
{% endset %}

{% block particle %}
	{{ containerblock_start }}
		{% if particle.gp_items %}
			{{ gp_heading }}
			<div class="g-grid">
				<div class="g-block size-33">
					{{ gp_tabs }}
				</div>
				<div class="g-block size-5 gp_hide"></div>
				<div class="g-block size-62 gp_ext_width">
					<div class="gp_tabs_content">
						{{ gp_contents }}
					</div>
				</div>
			</div>
		{% endif %}
	{{ containerblock_end }}
{% endblock %}

{% do gantry.load('jquery') %}
{% do gantry.document.addInlineScript(gpscript, 0, 'footer') %}