{% extends '@nucleus/partials/particle.html.twig' %}

{% set containerblock_start %}
    <div id="{{ id }}" class="gp_testimonials2 {{ particle.class }}">
{% endset %}

{% set containerblock_end %}
    </div>
{% endset %}

{% set gp_heading %}
    {% if particle.heading_title or particle.heading_desc %}
        <div class="gp_heading" style="text-align:{{ particle.heading_text_align|e }};">
            {% if particle.heading_title %}
                <{{ particle.heading_title_tag|e }} style="margin-top:0;">{{ particle.heading_title|raw }}</{{ particle.heading_title_tag|e }}>
            {% endif %}
            {% if particle.heading_desc %}
                <div>{{ particle.heading_desc|raw|nl2br }}</div>
            {% endif %}
        </div>
    {% endif %}
{% endset %}

{% set gp_contents %}
    {% for item in particle.gp_items %}
        <div class="g-block size-50">
            <div class="gp_item">
                <div class="g-grid gp_sub_level">
                    <div class="g-block size-30">
                        {% if item.img %}
                            <div class="gp_img">
                                <img src="{{ url(item.img)|e }}" alt="{{ item.title|e }}">
                            </div>
                        {% endif %}
                    </div>
                    <div class="g-block size-5"></div>
                    <div class="g-block size-65">
                        <div class="gp_info">
                            <div class="gp_comment">"{{ item.comment|raw }}"</div>
                            <div class="gp_author">{{ item.author|raw }}</div>
                            <div class="gp_desig">{{ item.desig|raw }}{% if item.url %} / <a href="{{ item.url|e }}" target="_blank">{{ item.url|e }}</a>{% endif %}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endset %}


{% block particle %}
    {{ containerblock_start }}
        {% if particle.gp_items %}
            {{ gp_heading }}
            <div class="gp_items">
                <div class="g-grid gp_top_level">
                    {{ gp_contents }}
                </div>    
            </div>
        {% endif %}
    {{ containerblock_end }}
{% endblock %}