{% extends '@nucleus/partials/particle.html.twig' %}

{% set containerblock_start %}
	<div id="{{ id }}" class="gp_testimonials1 {{ particle.class }}">
{% endset %}

{% set containerblock_end %}
	</div>
{% endset %}

{% set gp_heading %}
    {% if particle.heading_title or particle.heading_desc %}
        <div class="gp_heading" style="text-align:{{ particle.heading_text_align|e }};">
            {% if particle.heading_title %}
                <{{ particle.heading_title_tag|e }} style="margin-top:0;">{{ particle.heading_title|raw }}</{{ particle.heading_title_tag|e }}>
            {% endif %}
            {% if particle.heading_desc %}
                <div>{{ particle.heading_desc|raw|nl2br }}</div>
            {% endif %}
        </div>
    {% endif %}
{% endset %}

{% set gp_contents %}
	{% for item in particle.gp_items %}
        <div class="gp_item">
        	<div class="gp_icon"><i class="fa fa-quote-right"></i></div>
        	<div class="gp_comment">{{ item.comment|raw }}</div>
        	<div class="gp_author">{{ item.author|raw }}</div>
        	<div class="gp_desig">{{ item.desig|raw }}{% if item.url %} / <a href="{{ item.url|e }}" target="_blank">{{ item.url|e }}</a>{% endif %}</div>
        </div>
	{% endfor %}
{% endset %}

{% set gpscript %}
    jQuery(document).ready(function($) {
        $('#{{ id }} .gp_items').slick({
            rtl: {% if gantry.page.direction == 'rtl' %}true{% else %}false{% endif %},
            infinite: true,
            autoplay: {% if particle.autoplay %}true{% else %}false{% endif %},
            pauseOnHover: {% if particle.pauseOnHover %}true{% else %}false{% endif %},
            adaptiveHeight: true,
            arrows: false,
            dots: true
        });
    });
{% endset %}

{% block particle %}
	{{ containerblock_start }}
        {% if particle.gp_items %}
            {{ gp_heading }}
            <div class="gp_items">
                {{ gp_contents }}   
            </div>
        {% endif %}
	{{ containerblock_end }}
{% endblock %}

{% do gantry.load('jquery') %}
{% if particle.slick %}
    {% do gantry.document.addScript(url('gantry-theme://js/slick.min.js'), 0, 'footer') %}
{% endif %}
{% do gantry.document.addInlineScript(gpscript, 0, 'footer') %}