{% extends '@nucleus/partials/particle.html.twig' %}

{% block stylesheets %}
    <style type="text/css">      
   		#{{ id }}.gp_text_rotator {
   			{% if particle.bg %}
   				background: {{ particle.bg|e }};
   			{% endif %}
   			{% if particle.padding %}
   				padding: {{ particle.padding|e }};
   			{% endif %}
   			{% if particle.text %}
   				color: {{ particle.text|e }};
   			{% endif %}
   		}
   		{% if particle.text %}
   			#{{ id }} .gp_text > a {
   				color: {{ particle.text|e }};
   			}
   			#{{ id }} .gp_text > a:hover {
   				border-bottom-color: {{ particle.text|e }};
   			}
   		{% endif %}
    </style>
{% endblock %}

{% block particle %}
	<div id="{{ id }}" class="gp_text_rotator{% if particle.class %} {{ particle.class|e }}{% endif %}{% if particle.icon %} gp_hasicon{% endif %}">
		{% if particle.icon %}<div class="gp_icon"><i class="{{ particle.icon|e }}"></i></div>{% endif %}
		<div class="gp_texts">
			{% for item in particle.gp_items %}
				<div class="gp_text">
					{% if item.link %}<a href="{{ item.link|e }}" target="{{ item.target|e }}">{% endif %}
						{{ item.text|raw }}
					{% if item.link %}</a>{% endif %}
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}

{% set gpscript %}
    jQuery(document).ready(function($) {
        $('#{{ id }} .gp_texts').slick({
            rtl: {% if gantry.page.direction == 'rtl' %}true{% else %}false{% endif %},
            infinite: true,
            autoplay: {% if particle.autoplay %}true{% else %}false{% endif %},
            pauseOnHover: {% if particle.pauseOnHover %}true{% else %}false{% endif %}
        });
    });
{% endset %}

{% do gantry.load('jquery') %}
{% if particle.slick %}
    {% do gantry.document.addScript(url('gantry-theme://js/slick.min.js'), 0, 'footer') %}
{% endif %}
{% do gantry.document.addInlineScript(gpscript, 0, 'footer') %}