{% extends '@nucleus/partials/particle.html.twig' %}

{% set containerblock_start %}
	<div id="{{ id }}" class="gp_tabs1 {{ particle.class }}">
{% endset %}

{% set containerblock_end %}
	</div>
{% endset %}

{% set gp_tabs %}
	<ul class="gp_tabs">
		{% for tab in particle.gp_items %}
			<li class="gp_tab{% if loop.first %} gp_active{% endif %}" data-gptab="gp_tab_{{ loop.index }}"><a href="javascript:;">
				{% if tab.icon %}<i class="{{ tab.icon|e }}"></i>{% endif %}
				{% if tab.title %}{{ tab.title|e }}{% endif %}
			</a></li>
		{% endfor %}
	</ul>
{% endset %}

{% set gp_contents %}
	{% for item in particle.gp_items %}
		<div class="gp_tab_accordion{% if loop.first %} gp_active{% endif %}" data-gptab="gp_tab_{{ loop.index }}">
			<span>
				{% if item.icon %}<i class="{{ item.icon|e }}"></i>{% endif %}
				{% if item.title %}{{ item.title|e }}{% endif %}
			</span>
			<span class="gp_tab_arrow"></span>
		</div>

		<div id="gp_tab_{{ loop.index }}" class="gp_tab_content{% if loop.first %} gp_active{% endif %}">
			<div class="gp_tab_content_block">
				<div class="g-grid">
					{% if item.img %}
						<div class="g-block size-47">
							<img src="{{ url(item.img)|e }}" alt="{{ item.img_alt|e }}">
						</div>
						<div class="g-block size-6"></div>
					{% endif %} 

					<div class="g-block size-{% if item.img %}47{% else %}100{% endif %}">
						{% if item.content_title %}
							<h3>{{ item.content_title|raw|nl2br }}</h3>
						{% endif %}
						{% if item.desc %}
							<div>{{ item.desc|raw|nl2br }}</div>
						{% endif %}
						{% if item.link_url %}
							<div class="gp_tab_link">
								<a href="{{ item.link_url|e }}" class="{{ item.link_class|e }}">{{ item.link_text|raw }}</a>
							</div>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	{% endfor %}
{% endset %}

{% block stylesheets %}
	<style type="text/css">
		{% if particle.dt_border %}
			@media only all and (min-width: 768px) {
				#{{ id }} .gp_tabs_content {
					border-top: 1px solid {{ particle.dt_border|e }};
				}
			}
		{% endif %}
		{% if particle.tab_align == 'center' %}
			#{{ id }} ul.gp_tabs {
				text-align: center;
			}
		{% endif %}
		{% if particle.dt_border %}
			#{{ id }} ul.gp_tabs li {
				border: 1px solid {{ particle.dt_border|e }};
				border-bottom: 0;
			}
		{% endif %}
		#{{ id }} ul.gp_tabs li a {
			{% if particle.dt_bg %}
				background-color: {{ particle.dt_bg|e }};
			{% endif %}
			{% if particle.dt_text %}
				color: {{ particle.dt_text|e }};
			{% endif %}
		}
		#{{ id }} ul.gp_tabs li.gp_active a {
			top: 1px;
			{% if particle.at_bg %}
				background-color: {{ particle.at_bg|e }};
			{% endif %}
			{% if particle.at_text %}
				color: {{ particle.at_text|e }};
			{% endif %}
		}

		#{{ id }} .gp_tab_accordion {
			{% if particle.dt_bg %}
				background-color: {{ particle.dt_bg|e }};
			{% endif %}
			{% if particle.dt_text %}
				color: {{ particle.dt_text|e }};
			{% endif %}
		}
		#{{ id }} .gp_tab_accordion.gp_active {
			{% if particle.aac_bg %}
				background-color: {{ particle.aac_bg|e }};
			{% endif %}
			{% if particle.aac_text %}
				color: {{ particle.aac_text|e }};
			{% endif %}
		}
	</style>
{% endblock %}

{% set gpscript %}
	jQuery(document).ready(function($) {

		/* Tab mode */
		$("#{{ id }} li.gp_tab").click(function() {
			$("#{{ id }} .gp_tab_content").hide();
			$("#{{ id }} .gp_tab_content").removeClass("gp_active");

			var tabId = $(this).attr("data-gptab");
			$("#{{ id }} #"+tabId).fadeIn();

			$("#{{ id }} li.gp_tab").removeClass("gp_active");
			$(this).addClass("gp_active");

			$("#{{ id }} .gp_tab_accordion").removeClass("gp_active");
			$("#{{ id }} .gp_tab_accordion[data-gptab^='"+tabId+"']").addClass("gp_active");
		});

		/* Accordion mode */
		$("#{{ id }} .gp_tab_accordion").click(function() {
			var $this = $(this);
			
			if ($this.hasClass('gp_active')) {
				$this.removeClass('gp_active');
				$this.next().slideUp(350);
			} else {
				$("#{{ id }} .gp_tab_content").slideUp(350);
				var tabAcrId = $(this).attr("data-gptab");
				$("#{{ id }} #"+tabAcrId).slideToggle(350);

				$("#{{ id }} .gp_tab_accordion").removeClass("gp_active");
				$(this).addClass("gp_active");

				$("#{{ id }} li.gp_tab").removeClass("gp_active");
				$("#{{ id }} li.gp_tab[data-gptab^='"+tabAcrId+"']").addClass("gp_active");
			}
		});


	});
{% endset %}

{% block particle %}
	{{ containerblock_start }}
		{% if particle.gp_items %}
			{{ gp_tabs }}
			<div class="gp_tabs_content">
				{{ gp_contents }}
			</div>
		{% endif %}
	{{ containerblock_end }}
{% endblock %}

{% do gantry.load('jquery') %}
{% do gantry.document.addInlineScript(gpscript, 0, 'footer') %}